@font-face {
  font-family: 'Sen';
  src: url('./Sen-Regular.woff2') format('woff2'),
  url('./Sen-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Sen';
  src: url('./Sen-Bold.woff2') format('woff2'),
  url('./Sen-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}