.page {
  color: var(--first-color-text);
  font-family: 'Sen', sans-serif;
  font-weight: var(--font-weight-text);
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--main-bg-color, #000);
  min-inline-size: 360px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  block-size: 24px;
  inline-size: 79px;
}

.menu__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  inline-size: 24px;
  block-size: 24px;
}

.menu__toggle-icon {
  inline-size: 18px;
  block-size: 11px;
}

.menu__list {
  display: none;
}

.menu__list-item {
  padding: 32px 24px;
}

.content__greeting {
  position: relative;
  display: grid;
}

.greeting__block-image {
  max-block-size: 288px;
}

.greeting__image {
  object-fit: cover;
  object-position: center;
}

.greeting__block-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 20px;
}

.greeting__about {
  font-weight: var(--font-weight-title);
  font-size: 32px;
  line-height: normal;
}

.greeting__about .accent-text {
  color: rgb(255 255 255 / 0.5);
}

.content__experience {
  padding: 48px 20px;
}

.experience__block-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.experience__overline {
  color: var(--second-color-text);
  font-weight: var(--font-weight-title);
  font-size: 16px;
  text-transform: uppercase;
}

.experience__title {
  font-weight: var(--font-weight-title);
  font-size: 32px;
  line-height: normal;
}

.experience__companies {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-block-start: 40px;
}

.company__number {
  color: var(--second-color-text);
  font-size: 117px;
  line-height: normal;
}

.company__block-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company__title {
  font-size: 24px;
}

.experience__company:nth-of-type(1) .company__title .accent-text {
  color: var(--green-accent);
}

.experience__company:nth-of-type(2) .company__title .accent-text {
  color: var(--blue-accent);
}

.experience__company:nth-of-type(3) .company__title .accent-text {
  color: var(--pink-accent);
}

.company__text {
  font-size: 16px;
}

.content__philosophy {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--bg-peach-accent);
}

.philosophy__block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 20px;
  color: var(--dark-gray);
}

.philosophy__title {
  color: var(--accent-color-text);
  font-weight: var(--font-weight-title);
  font-size: 32px;
  line-height: normal;
}

.philosophy__text {
  margin-block-start: 24px;
}

.philosophy__link {
  position: relative;
  color: var(--accent-color-text);
  font-size: 16px;
}

.philosophy__link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: var(--second-color-text);
  block-size: 1px;
  inline-size: 100%;
}

.philosophy__block-image {
  max-block-size: 450px;
}

.philosophy__image {
  display: block;
  object-fit: cover;
  object-position: center;
}

.content__skillset {
  padding: 64px 20px;
}

.skillset__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 14px 21px;
}

.skillset__title {
  font-weight: var(--font-weight-title);
  font-size: 32px;
  line-height: normal;
}

.skillset__description {
  color: var(--second-color-text);
}

.skillset__items {
  display: grid;
  gap: 48px;
  margin-block-start: 48px;
}

.skillset__item-icon {
  display: block;
  inline-size: 32px;
  block-size: 32px;
}

.product-icon {
  inline-size: 26px;
  block-size: 32px;
}

.skillset__item-title {
  margin-block-start: 24px;
  font-weight: var(--font-weight-title);
  font-size: 24px;
}

.skillset__item-description {
  margin-block-start: 12px;
  color: var(--second-color-text);
  font-size: 16px;
}

.content__partners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 140px;
}

.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-color-text);
}

.partners__item img {
  block-size: auto;
  inline-size: auto;
}

.content__work {
  display: grid;
  grid-template-columns: 1fr;
  padding: 64px 20px 70px;
}

.work__block-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.work__overline {
  color: var(--second-color-text);
  font-weight: var(--font-weight-title);
  font-size: 16px;
  text-transform: uppercase;
}

.work__title {
  font-weight: var(--font-weight-title);
  font-size: 32px;
  line-height: normal;
}

.work__cards {
  display: grid;
  gap: 48px;
  margin-block-start: 80px;
}

.work__card {
  background-color: var(--accent-color-text);
}

.card__block-image {
  block-size: 400px;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
}

.card__block-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 40px 32px;
}

.card__title {
  font-weight: var(--font-weight-title);
  font-size: 24px;
}

.card__description {
  color: var(--second-color-text);
}

.content__instagram {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--bg-violet-accent);
}

.instagram__block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 20px;
}

.instagram__block-text-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.instagram__title {
  color: var(--accent-color-text);
  font-weight: var(--font-weight-title);
  font-size: 32px;
  line-height: normal;
}

.instagram__text {
  color: var(--dark-gray);
}

.instagram__link {
  position: relative;
  color: var(--accent-color-text);
  font-size: 16px;
}

.instagram__link::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: var(--second-color-text);
  inline-size: 100%;
  block-size: 1px;
}

.instagram__block-image {
  max-block-size: 450px;
}

.instagram__image {
  display: block;
}

.content__dubbble {
  padding: 64px 20px;
}

.dubbble__title {
  font-weight: var(--font-weight-title);
  font-size: 55px;
  line-height: normal;
}

.dubbble__description {
  margin-block: 24px 40px;
  color: var(--second-color-text);
}

.dubbble__link {
  position: relative;
  font-size: 16px;
}

.dubbble__link::before {
  content: '';
  position: absolute;
  inset-block-end: -3px;
  inset-inline-start: 0;
  background-color: var(--second-color-text);
  inline-size: 100%;
  block-size: 1px;
}

.dubbble__block-image {
  margin-block-start: 64px;
  background-color: var(--accent-color-text);
  border-radius: 8px;
}

.dubbble__block-image-top {
  padding: 12px 16px;
}

.dubbble__circles {
  display: flex;
  gap: 6px;
}

.dubbble__circle {
  inline-size: 12px;
  block-size: 12px;
  background-color: var(--dark-gray);
  border-radius: 50%;
}

.dubbble__block-image-bottom {
  block-size: 480px;
}

.dubbble__image {
  display: block;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}