:root {
  --main-bg-color: #000;
  --first-color-text: #fff;
  --second-color-text: #8491A0;
  --dark-gray: #5B6876;
  --accent-color-text: #181823;
  --green-accent: #3CC74E;
  --blue-accent: #609BFF;
  --pink-accent: #E95D90;
  --bg-violet-accent: #FBE4FF;
  --bg-peach-accent: #FFF3E4;
  --bg-color-button: #5221E6;
  --font-weight-title: 700;
  --font-weight-text: 400;
}